@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font-primary;
  color: $color-black;
  line-height: 1.4;
  font-weight: 400;
}

img {
  max-width: 100%;
  display: block;
}

p {
  margin: 0;
}

.global-multiline-clip {
  $height-line: 16px;
  $default-max-lines: 3;
  -webkit-line-clamp: var(--max-lines-clip, $default-max-lines);
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: var(--line-height, $height-line);
  height: calc(var(--line-height, $height-line) * var(--max-lines-clip, $default-max-lines));
}
