$color-primary: #407BF7;
$color-white: #FFFFFF;
$color-light: #F7F8FA;
$color-black: #000044;
$color-error: #F12236;

$font-primary: 'Montserrat', sans-serif;

$breakpoint-sm: 600px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1435px;

$index-1: 1;
$index-10: 10;
